@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.jskmb-calculator {
  background-color: lightblue;
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border: 2px solid black;
}

.jskmb-calculator .container {
  display: block;
  width: 500px;
}

.jskmb-calculator .container .operations-block {
  display: flex;
  justify-content: space-between; 
}

.jskmb-calculator .container .operations-block button {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

.jskmb-calculator .container .separator .botton-line {
  border: 1px solid black;
  width: 100%;
  margin: 50px auto;
  
}

.jskmb-calculator .container .inputs-block { display: inline-block; }

.jskmb-calculator .container .input-block input{
  margin: 10px;
  border: 1px solid black;
  padding: 5px;
}